{layout $layoutView}

{block content}
<h2>Everything OK</h2>

<p>If you see this page, everything about framework goes well.</p>
<p>You can continue by creating HomeController and home.latte view for start building your application</p>
{/block}